doctype html
html
    head
        meta(charset='UTF-8')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous')
        title info

    style.
        body {
        padding-top: 70px;
        padding-bottom: 30px;
        }
        #btn1{
            float:right;
        }
    //create    
    body
        article
            .container(role='main')
                h2 board Form
                    form#form(name='form' role='form' method='post' action='/create')
                        input(type="hidden" name="id" value=id)
                        .mb-3
                            label(for='title') 제목
                            input#title.form-control(type='text' name='title' placeholder='제목을 입력해 주세요')
                        .mb-3
                            label(for='reg_id') 작성자
                            input#reg_id.form-control(type='text' name='name' placeholder='이름을 입력해 주세요')
                        .mb-3
                            label(for='content') 내용
                            textarea#content.form-control(rows='5' name='text' placeholder='내용을 입력해 주세요')
                        div
                            button#btnSave.btn.btn-sm.btn-primary(type='submit' formmethod="post") 저장
                            button#btnList.btn.btn-sm.btn-primary(type="button" onclick="location.href='/1'") 목록
